﻿
@{
    @model birsorumvar.Controllers.HomeController.Account
    ViewBag.Title = "Hesap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="container">
        <div class="col-md-12">
            <h2>Hesabım</h2>

            <hr />

            @foreach (var hesap in Model.uye)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">Kullanıcı Bilgileri</div>
                    <div class="panel-body">
                        <p><b>@hesap.uye_ad</b></p>
                        <hr />
                        <p><b>@hesap.uye_mail</b></p>
                    </div>
                </div>
            }
        </div>

            <div class="col-md-12">
                <h2>Eklediğim Sorular</h2>
                <hr />
                @foreach (var sorum in Model.sorularim)
            {

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a target="_blank" href="~/Home/SoruDetay/?soruid=@sorum.id_soru"><img src="~/img/sorular/@(sorum.id_soru).png" style="width:80%"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />





            <div class="col-md-12">
                <h2>Yorumlarım</h2>
               <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td><b>Yorum</b></td>
                            <td><b>Soru ID</b></td>
                            <td><b>Tarih</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var yorum in Model.yorumlarim)
                        {
                            <tr>
                                <td><a target="_blank" href="~/Home/SoruDetay/?soruid=@yorum.id_soru">@yorum.yorum</a></td>
                                <td>@yorum.id_soru</td>
                                <td>@yorum.tarih</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>



</body>