﻿@{
    @model birsorumvar.Controllers.HomeController.Dersler
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<body>
   
    <!-- CONTAINER -->
    
       
          
    <div class="container">
        <div class="col-md-12">
            @if (Session["S_AD"] == null)
            {


                <div class="col-md-9">
                    <div class="jumbotron">
                        <h2><b>Nedir?</b></h2>
                        <hr />
                        <p>1 Sorum Var, üniversiteye hazırlanan öğrencilerin soru sorup - çözebileceği ve tüm derslerden kaynak bulabileceği bir platformdur.</p>
                        <p>Tamamen sana özel.</p>
                        <p><b>Hem de ücretsiz!</b></p>
                        <hr />
                    </div>
                </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <a href="@Url.Action("Kayit", "Home")" class="btn btn-block btn-warning btn-lg">Üye Ol<p><i class="fa fa-user-plus fa-3x" aria-hidden="true"></i></p></a>

                            <a href="#" class="btn btn-block btn-primary btn-lg">Soru Yaz!<p><i class="fa fa-pencil fa-3x" aria-hidden="true"></i></p></a>

                            <a href="#" class="btn btn-block btn-success btn-lg">Hemen Cevap Al!<p><i class="fa fa-check fa-3x" aria-hidden="true"></i></p></a>
                        </div>

                    </div>
            }
            <!-- CANLI YAYINLAR -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Canlı Yayınlar</b></div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">YGS Öncesi</div>
                                <div class="panel-body">
                                    Uzman Süleyman BULUT
                                    <hr />
                                    <img src="~/img/erkek.png" style="width:50%">
                                    <a href="#" class="btn btn-primary btn-sm">Hemen İzle</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Paragraf Teknikleri</div>
                                <div class="panel-body">
                                    Uzman Rumeysa ASLAN
                                    <hr />
                                    <img src="~/img/bayan.png" style="width:50%">
                                    <a href="#" class="btn btn-primary btn-sm">Hemen İzle</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Süreyi Verimli Kullanmak</div>
                                <div class="panel-body">
                                    Uzman Fatih AYDIN
                                    <hr />
                                    <img src="~/img/erkek.png" style="width:50%">
                                    <a href="#" class="btn btn-primary btn-sm">Hemen İzle</a>
                                </div>
                            </div>
                        </div>               
                    </div>
                </div>
            </div>
            <!-- -->
            <!-- DERSLER -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Dersler</b></div>
                    <div class="panel-body">


                        @foreach (var ders in Model.dersim)
                        {
                            <div class="col-md-2">
                                <div class="col-centered">
                                    <a href="/Home/Sorular/?id=@ders.id_ders" class="btn btn-success btn-block btn-lg">@ders.ad_ders</a>
                                    <hr />
                                </div>
                            </div>
                        }


                        @*<div class="col-md-4">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <a href="#" class="btn btn-block btn-success btn-lg">Tüm Dersler<p><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></p></a>
                                    </div>
                                </div>
                            </div>*@

                    </div>
                </div>
            </div>
            <!-- -->
        </div>
    </div>

    <!--  -->
</body>