﻿
@{
    ViewBag.Title = "KayitOnay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">

        <h2>Kayıt Başarıyla Tamamlandı!</h2>
        <hr />
        <a href="~/Home/Login" class="btn btn-block btn-primary">Giriş Yap!</a>

    </div>


</body>


