﻿
@{
    ViewBag.Title = "Kayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>


    <div class="container">
        <div class="col-md-12">
            <form action="/Home/Kayit" method="post" class="form-horizontal">
                <fieldset>
                    <legend>Üye Ol</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Ad Soyad</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="uye_ad" placeholder="Ad Soyad" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Mail Adresi</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="uye_mail" placeholder="Mail Adresi" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Parola</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="uye_parola" placeholder="Parola" type="password">
                            <br />

                          
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Onayla!</button>
                        </div>
                    </div>
                </fieldset>
            </form>

          
        </div>
    </div>
</body>