﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>


    <div class="container">
        <div class="col-md-12">
          
           
            <form action="/Home/Login" method="post" class="form-horizontal">
                <fieldset>
                    <legend>Giriş Yap</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Mail Adresi</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="inputMail" placeholder="Mail Adresi" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Parola</label>
                        <div class="col-lg-10">
                            <input class="form-control" name="inputParola" placeholder="Parola" type="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success">Giriş Yap</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <hr />
            <h3>Henüz üye olmadınız mı?</h3>
          
            <a href="~/Home/Kayit" class="btn btn-primary">Hemen Ücretsiz Üye Ol!</a>
        </div>
    </div>
</body>