﻿
@{
    @model birsorumvar.Controllers.HomeController.Soru
    ViewBag.Title = "Sorular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container">
      
       
       
        <hr />

        @foreach (var soru in Model.sorum)
        {
               
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="~/img/sorular/@(soru.id_soru).png" style="width:80%">
      <hr />

            <a href="/Home/SoruDetay/?soruid=@soru.id_soru" class="btn btn-block btn-primary"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        }
        </div>
</body>


