﻿
@{
    @model birsorumvar.Controllers.HomeController.SoruDet
    ViewBag.Title = "SoruDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="container">


        @foreach (var sorudetay in Model.sorumdet)
        {
            if (sorudetay.cozum == 1)
            {
                <p><span class="label label-success"><i class="fa fa-check" aria-hidden="true"></i>  Çözüldü</span></p>
            }

            else
            {
                <p><span class="label label-danger"><i class="fa fa-close" aria-hidden="true"></i>  Çözülmedi</span></p>
            }



            <hr />


            <div class="col-md-9">
                <table class="table table-bordered">
                    <tr>
                        <td><img src="~/img/sorular/@(sorudetay.id_soru).png" style="width:80%"></td>
                    </tr>

                </table>
            </div>

            <div class="col-md-3">
                <table class="table table-bordered">
                    <tbody>

                        <tr>
                            <td>Ders: <b>@sorudetay.id_ders </b></td>
                        </tr>
                        <tr>
                            <td>Konu: <b>@sorudetay.konu  </b></td>
                        </tr>
                        <tr>
                            <td>Eklenme Tarihi: <b>@sorudetay.tarih  </b></td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <hr />

            if (Session["S_AD"] != null)
            {
                <div class="col-md-9">
                    <form action="/Home/SoruDetay/?soruid=@sorudetay.id_soru" method="post" class="form-horizontal">
                        <div class="form-group">
                            <input type='hidden' name='id_soru' value=@sorudetay.id_soru>
                            <input type='hidden' name='id_user' value=@Session["S_AD"].ToString()>
                            <textarea class="form-control" rows="2" name="comment"></textarea>
                            <br />
                            <button type="submit" class="btn btn-primary  "><i class="fa fa-check" aria-hidden="true"></i> Yorum Gönder</button>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Yorum yazmak için lütfen </strong> <a href="~/Home/Login" class="alert-link">üye girişi</a> yapınız.
                    </div>
                </div>
            }
        }




        <div class="col-md-9">
            <table class="table table-bordered">
                <tbody>
                    @foreach (var soruyorum in Model.sorumyorum)
                    {
                        <tr>
                            <td>@soruyorum.yorum</td>
                            <td>@soruyorum.tarih</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>




</body>


