﻿
@{
    @model birsorumvar.Controllers.HomeController.Dersler
    ViewBag.Title = "SoruYaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">
        <div class="col-md-12">
            <h2>Soru Yaz</h2>
            <hr />

            <form action="/Home/SoruEkle" method="post" enctype="multipart/form-data">
                <label for="sel1">Ders</label>
                <select class="form-control" name="ders">
                    @foreach (var ders in Model.dersim)
                    {
                        <option value="@ders.id_ders">@ders.ad_ders</option>
                    }
                </select>

                <label for="sel1">Konu</label>

                <input type="text" class="form-control" name="inputkonuad" placeholder="Konu Adı">
                <br />
                <input type="file" name="uploadfile" id="uploadfile" />
                <hr />
                <button type="submit" class="btn btn-success "><i class="fa fa-check" aria-hidden="true"></i> Soruyu Ekle!</button>
            </form>
            <br />

        </div>
    </div>
</body>
