﻿
@{
    ViewBag.Title = "SoruEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <div class="container">

        <h2>Soru Başarıyla Eklendi!</h2>
        <hr />
        <a href="~/Home/Hesap" class="btn btn-block btn-primary">Hesap Sayfasına Geri Dön!</a>
    </div>
  
</body>


