﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1 Sorum Var</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css"/>   
</head>

<body>

    <!-- HEADER & LOGO -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">1 Sorum Var!</a>
            </div>
        </div>
    </nav>
    <!-- -->

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<footer class="main-footer">
        <div class="footer-bottom">
            <div class="container text-right">
                1 Sorum Var!  ©  2016
            </div>
        </div>
    </footer> <!-- main-footer -->
        <!-- -->*@
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-lg-12">
                <div class="col-md-8">
                    <a href="#">Hizmet Koşulları</a> | <a href="#">Gizlilik</a>
                </div>
                <div class="col-md-4">
                    <p class="muted pull-right">2016 © 1 Sorum Var! Tüm hakları saklıdır.</p>
                </div>
            </div>
        </div>
    </div>
       

    </body>
</html>
