﻿@model IEnumerable<Web___Ilk_Adim.Models.dersler>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
    <div class="container">




        <h2>Dersler</h2>

        <p>
            @Html.ActionLink("Yeni Ders Ekle", "derslerCreate")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ad_ders)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ad_ders)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "derslerEdit", new { id = item.id_ders }) |
                        @Html.ActionLink("Detaylar", "derslerDetails", new { id = item.id_ders }) |
                        @Html.ActionLink("Sil", "derslerDelete", new { id = item.id_ders })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
