﻿@model Web___Ilk_Adim.Models.dersler


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ders Sil</title>
</head>
<body>
    <div class="container">

        <h3>Silmek istediğinize emin misiniz?</h3>
        <div>
            <h4>Dersler</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ad_ders)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ad_ders)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-default" /> |
                    @Html.ActionLink("Geri Dön", "derslerIndex")
                </div>
            }
        </div>
    </div>


</body>
</html>
