﻿@model Web___Ilk_Adim.Models.dersler

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detaylar</title>
</head>
<body>
    <div class="container">


        <div>
            <h4>Dersler</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ad_ders)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ad_ders)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Düzenle", "derslerEdit", new { id = Model.id_ders }) |
            @Html.ActionLink("Geri dön", "derslerIndex")
        </p>
    </div>
</body>
</html>
