﻿@model Web___Ilk_Adim.Models.uyeler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>

    <div class="container">




        <h2>Detaylar</h2>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.uye_ad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.uye_ad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.uye_mail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.uye_mail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.uye_parola)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.uye_parola)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Düzenle", "UyelerEdit", new { id = Model.id_user }) |
            @Html.ActionLink("Geri dön", "UyelerIndex")
        </p>

    </div>
</body>