﻿@model IEnumerable<Web___Ilk_Adim.Models.uyeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<body>
    <div class="container">




        <h2>Üyeler</h2>

        <p>
            @Html.ActionLink("Yeni Kayıt", "UyelerCreate")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.uye_ad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.uye_mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.uye_parola)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.uye_ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uye_mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uye_parola)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "UyelerEdit", new { id = item.id_user }) |
                        @Html.ActionLink("Detaylar", "UyelerDetails", new { id = item.id_user }) |
                        @Html.ActionLink("Sil", "UyelerDelete", new { id = item.id_user })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>