﻿@model Web___Ilk_Adim.Models.uyeler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>

    <div class="container">


<h2>Üye Sil</h2>

<h3>Üyeyi silmek istediğinize emin misiniz?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uye_ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uye_ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uye_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uye_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uye_parola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uye_parola)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "UyelerIndex")
        </div>
    }
</div>
    </div>
</body>