﻿@model IEnumerable<Web___Ilk_Adim.Models.yorumlar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<body>
    <div class="container">

        <h2>Yorumlar</h2>

        <p>

        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id_user)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.id_soru)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.yorum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tarih)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_user)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_soru)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.yorum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tarih)
                    </td>
                    <td>


                        @Html.ActionLink("Sil", "yorumlarDelete", new { id = item.id_yorum })
                    </td>
                </tr>
            }

        </table>
    </div>


</body>