﻿@model Web___Ilk_Adim.Models.yorumlar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<body>
    <div class="container">

        <h2>Yorum Sil</h2>

        <h3>Silmek istediğinize emin misiniz?</h3>
        <div>
         
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.id_user)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.id_user)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.id_soru)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.id_soru)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.yorum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.yorum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.tarih)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.tarih)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="btn btn-default" /> |
                    @Html.ActionLink("Geri Dön", "yorumlarIndex")
                </div>
            }
        </div>
    </div>
</body>