﻿@model Web___Ilk_Adim.Models.yorumlar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>yorumlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_soru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_soru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yorum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarih)
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Back to List", "yorumlarIndex")
</p>
