﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1 Sorum Var - Admin</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <!-- HEADER & LOGO -->
    <nav class="navbar navbar-inverse">
        <div class="container">



            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Admin/UyelerIndex" class="navbar-brand"><img src="~/img/logo1.png"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav"></ul>
               
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Admin/UyelerIndex" class="btn btn-primary" style="position:relative; top:8px;"><b>Üyeler</b></a></li>

                        <li><a href="~/Admin/derslerIndex" class="btn btn-primary" style="position:relative; top:8px;"><b>Dersler</b></a></li>

                        <li><a href="~/Admin/yorumlarIndex" class="btn btn-primary" style="position:relative; top:8px;"><b>Yorumlar</b></a></li>

                        <li><a href="~/Home/Logout" class="btn btn-primary" style="position:relative; top:8px;"><b>Çıkış Yap</b></a></li>
                    </ul>
              
            </div>

        </div>
    </nav>

    <!-- -->

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
