﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1 Sorum Var</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css"/>   
</head>

<body>

    <!-- HEADER & LOGO -->
    <nav class="navbar navbar-inverse">
        <div class="container">


       
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/Home" class="navbar-brand"><img src="~/img/logo1.png"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav"></ul>
                    @if (Session["S_AD"] != null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                           <li><a href="~/Home/Hesap" class="btn btn-primary" style="position:relative; top:8px;"><b>Hesabım</b></a></li>
                           
                            <li><a href="~/Home/SoruYaz" class="btn btn-primary" style="position:relative; top:8px;"><b>Soru Yaz</b></a></li>
                           
                            <li><a href="~/Home/Logout" class="btn btn-primary" style="position:relative; top:8px;"><b>Çıkış Yap</b></a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="~/Home/Login" class="btn btn-primary" style="position:relative; top:8px;"><b>Giriş Yap</b></a></li>
                        
                        </ul>
                    }
                </div>
       
        </div>
    </nav>





 
    <!-- -->

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<footer class="main-footer">
        <div class="footer-bottom">
            <div class="container text-right">
                1 Sorum Var!  ©  2016
            </div>
        </div>
    </footer> <!-- main-footer -->
        <!-- -->*@
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-lg-12">
                <div class="col-md-8">
                    <a href="#">Hizmet Koşulları</a> | <a href="#">Gizlilik</a>
                </div>
                <div class="col-md-4">
                    <p class="muted pull-right">2016 © 1 Sorum Var! Tüm hakları saklıdır.</p>
                </div>
            </div>
        </div>
    </div>
       

    </body>
</html>
