﻿
@{
    ViewBag.Title = "Kayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>


    <div class="container">

        <form class="form-horizontal">
            <fieldset>
                <legend>Üye Ol</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Ad Soyad</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputAdSoyad" placeholder="Ad Soyad" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Mail Adresi</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputEmail" placeholder="Mail Adresi" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Parola</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputPassword" placeholder="Parola" type="password">
                        <br/>
                        <input class="form-control" id="inputPassword" placeholder="Parola Onayı" type="password">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Üyelik Sözleşmesini Okudum ve Kabul Ediyorum.
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Geri</button>
                        <button type="submit" class="btn btn-primary">Onayla!</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>